<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuanit.movie.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.dayuanit.movie.entry.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="seat_row" jdbcType="INTEGER" property="seatRow" />
    <result column="seat_col" jdbcType="INTEGER" property="seatCol" />
    <result column="price" jdbcType="VARCHAR" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, seat_row, seat_col, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info_spider
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info_spider
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayuanit.movie.entry.OrderInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_info_spider (order_id, seat_row, seat_col, 
      price)
    values (#{orderId,jdbcType=INTEGER}, #{seatRow,jdbcType=INTEGER}, #{seatCol,jdbcType=INTEGER}, 
      #{price,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dayuanit.movie.entry.OrderInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_info_spider
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="seatRow != null">
        seat_row,
      </if>
      <if test="seatCol != null">
        seat_col,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="seatRow != null">
        #{seatRow,jdbcType=INTEGER},
      </if>
      <if test="seatCol != null">
        #{seatCol,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuanit.movie.entry.OrderInfo">
    update order_info_spider
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="seatRow != null">
        seat_row = #{seatRow,jdbcType=INTEGER},
      </if>
      <if test="seatCol != null">
        seat_col = #{seatCol,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayuanit.movie.entry.OrderInfo">
    update order_info_spider
    set order_id = #{orderId,jdbcType=INTEGER},
      seat_row = #{seatRow,jdbcType=INTEGER},
      seat_col = #{seatCol,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listOrderInfoByOrderId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from order_info_spider
    where order_id=#{orderId}
  </select>

  <!--<select id="listAlreadyBuyTicket" resultMap="BaseResultMap">-->
    <!--SELECT ois.order_id,ois.seat_col,ois.seat_row-->
    <!--FROM order_spider os join order_info_spider ois-->
    <!--on os.id = ois.order_id WHERE os.film_schedule_id=#{scenId}-->
    <!--and os.status=0,1-->
  <!--</select>-->

  <select id="listAlreadyBuyTicket" resultMap="BaseResultMap">
  SELECT ois.order_id,ois.seat_col,ois.seat_row
  FROM order_spider os join order_info_spider ois
  on os.id = ois.order_id WHERE os.film_schedule_id=#{scenId}
  and (os.status=0 or os.status=1)
  </select>

  <select id="loadAlreadyBuyTicket" resultMap="BaseResultMap">
    SELECT ois.order_id,ois.seat_col,ois.seat_row
    FROM order_spider os join order_info_spider ois
    on os.id = ois.order_id
    WHERE os.film_schedule_id=#{scenId}
    and (os.status=0 or os.status=1)
    and ois.seat_row=#{row}
    and ois.seat_col=#{col}
    limit 1
  </select>
</mapper>