<html>
<head>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .el-row {
            margin-bottom: 20px;
        &:last-child {
             margin-bottom: 0;
         }
        }
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple {
            background: #d3dce6;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>
</head>

<body>

<div id="app">
    <el-row>
        <el-col :span="4">
            <div class="grid-content" >
                <img :src="'/picture/' + filmInfo.filmPic" height="280" width="200">
            </div>
        </el-col>
        <el-col :span="20">
            <div class="grid-content ">
                <el-row>
                    <el-col :span="24"><div class="grid-content">{{filmInfo.filmName}}</div></el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"><div class="grid-content">{{filmInfo.filmType}}</div></el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"><div class="grid-content">{{filmInfo.filmTime}}</div></el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"><div class="grid-content">{{filmInfo.filmShowTime}}</div></el-col>
                </el-row>

                <el-row>
                    <el-col :span="24">
                        <div class="grid-content">
                            <el-button type="danger" @click="buyTicket">查看电影详情</el-button>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </el-col>
    </el-row>

    <el-divider content-position="left"></el-divider>

    <div>
        <el-row>
            <el-col :span="2"><div class="grid-content">
                行政区：
            </div>
            </el-col>
            <el-col :span="2">
                <div class="grid-content">
                    <el-link @click="areaClickHandler(-1)">全部</el-link>
                </div>
            </el-col>
            <el-col :span="2"   v-for="area in filmArea" >
                <div class="grid-content">
                    <el-link @click="areaClickHandler(area.areaCode)">{{area.areaName}}</el-link>
                </div>
            </el-col>
        </el-row>
    </div>

    <el-divider content-position="left"></el-divider>

    <div>
        <el-tag>影院列表</el-tag>
        <el-row v-for="cinema in cinemaFilm">
            <el-col :span="20" >
                <div class="grid-content">
                    <span>{{cinema.cinemaName}}</span><br>
                    <span style="color: #909399;font-size: 12px">{{cinema.cinemaAddress}}</span>
                </div>
            </el-col>
            <el-col :span="4">
                <div class="grid-content">
                    <el-button type="danger" @click="choseScene(cinema.id)" >选座购票</el-button>
                </div>
            </el-col>
        </el-row>
    </div>


</div>

</body>

<script>
    new Vue({
        el : '#app',
        data : {
            filmInfo : [],
            filmId : [[${filmId}]],
            fit: 'fill',
            filmArea : [],
            cinemaFilm : [],
            areaCode :-1,
        },
        created : function () {
            this.loadFilm();
            this.loadArea();
            this.listFilm4Cinema();
        },
        methods : {
            loadFilm : function () {
                var that = this
                axios.get('/film/' + that.filmId)
                    .then(function (response) {
                        that.filmInfo = response.data.data;
                    })
            },
            loadArea : function () {
                var that = this
                axios.get('/cinema/area')
                    .then(function (response) {
                        that.filmArea = response.data.data;
                    })
            },
            areaClickHandler :function (areaCode) {
                this.areaCode = areaCode;
                this.listFilm4Cinema();
            },
            listFilm4Cinema : function () {
                var that = this
                axios.get('/cinema/listFilm4Cinema/' + that.filmId + "/" + that.areaCode)
                    .then(function (response) {
                        that.cinemaFilm = response.data.data;
                    })
            },

            choseScene : function (cinemaId) {
                window.open("/tochoseScene/" + cinemaId + "/" + this.filmId )
            }
        }
    })
</script>

</html>




