<html>
<head>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .el-row {
            margin-bottom: 20px;
        &:last-child {
             margin-bottom: 0;
         }
        }
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple {
            background: #d3dce6;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>
</head>

<body>
<div id="app">

    <div id="PayForm" v-html="payForm"></div>

    <el-row>
        <el-col :span="6">
            <div class="grid-content">
                <el-row>
                    <el-col :span="14">
                        <div class="grid-content">
                            <img :src="'/picture/' + filmInfo.filmPic">
                        </div>
                    </el-col>
                    <el-col :span="10">
                        <div class="grid-content">
                            <el-row>
                                <el-col :span="24"><div class="grid-content">{{filmInfo.filmName}}</div></el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24"><div class="grid-content">{{filmInfo.filmType}}</div></el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24"><div class="grid-content">{{filmInfo.filmTime}}</div></el-col>
                            </el-row>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <el-row>
                <el-col :span="4"><div class="grid-content">影院：</div></el-col>
                <el-col :span="20"><div class="grid-content">{{cinemaInfo.cinemaName}}</div></el-col>
            </el-row>

            <el-row>
                <el-col :span="4"><div class="grid-content">影厅：</div></el-col>
                <el-col :span="20"><div class="grid-content">{{sceneInfo.hall}}</div></el-col>
            </el-row>

            <el-row>
                <el-col :span="4"><div class="grid-content">版本：</div></el-col>
                <el-col :span="20"><div class="grid-content">{{sceneInfo.language}}</div></el-col>
            </el-row>

            <el-row>
                <el-col :span="4"><div class="grid-content">场次：</div></el-col>
                <el-col :span="20"><div class="grid-content">{{sceneInfo.showTime}}</div></el-col>
            </el-row>

            <el-row>
                <el-col :span="4"><div class="grid-content">票价：</div></el-col>
                <el-col :span="20"><div class="grid-content">￥{{sceneInfo.price}}/张</div></el-col>
            </el-row>
            <el-divider></el-divider>
            <el-row>
                <el-col :span="4">
                    <div class="grid-content">座位</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content">
                        <el-tag
                                v-for="seatId in formatAlreadyChoseSeatIds">
                            {{seatId.split('-')[0] + '排' + seatId.split('-')[1] + '座'}}
                        </el-tag>
                    </div>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="4"><div class="grid-content">总价：</div></el-col>
                <el-col :span="20"><div class="grid-content">￥{{(sceneInfo.price * formatAlreadyChoseSeatIds.length).toFixed(2)}}</div></el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                    <div class="grid-content">
                        <img src="/images/paysuccess.png"><br>
                        <el-tag type="green">支付成功</el-tag>
                    </div>
                </el-col>
            </el-row>
        </el-col>
    </el-row>

</div>

</body>

<script>
    new Vue({
        el : '#app',
        data : {
            filmInfo : [],
            cinemaInfo : "",
            sceneInfo : [],
            filmId : [[${filmId}]],
            cinemaId : [[${cinemaId}]],
            sceneId : [[${sceneId}]],
            alreadyChoseSeatIds : '[[${seatInfo}]]',
            payForm : ''
        },
        created : function () {
            this.loadCinema();
            this.loadFilm();
            this.loadScene();
        },

        computed : {
            formatAlreadyChoseSeatIds : function () {
                return this.alreadyChoseSeatIds.split(",")
            }
        },

        methods : {

            loadFilm : function () {
                var that = this
                axios.get('/film/' + that.filmId)
                    .then(function (response) {
                        that.filmInfo = response.data.data;
                    })
            },
            loadCinema : function () {
                var that = this
                axios.get('/cinema/listCinema/' + this.cinemaId)
                    .then(function (response) {
                        that.cinemaInfo = response.data.data
                    })
            },
            loadScene : function () {
                var that = this
                axios.get("/film/loadScene/" + this.sceneId)
                    .then(function (response) {
                        that.sceneInfo = response.data.data;
                    })
            }
        }
    })
</script>

</html>




